/* style.css historiana developer docs 1*/
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: grey;
}

ul.logos {
  list-style-type: none;
  display: table;
}

ul.logos li {
  display: table-cell;
  width: 210px;
  height: 210px;
  float: left;
}

ul.logos li > a > img {
  max-width: 210px;
  float: left;
  padding-right: 2em;
}

ul.logos li > a:hover > img {
  border-bottom: 4px solid red;
}

#branding {
  margin-top: 40px;
  margin-bottom: 40px;
}

#branding .columns {
  align-items: baseline;
  vertical-align: bottom;
  text-align: left;
  color: white;
}

.logo-footer {
  max-width: 200px;
  max-height: 42px;
}

#branding .expl {
  margin: auto 12px;
  vertical-align: bottom;
  align-items: baseline;
  color: #9c9c9c;
}

.leftline {
  /*    border-left: 1px solid #959595;*/

  /*    padding-left:12px;*/
  padding-right: 40px;
  margin-bottom: 40px;
}

footer,
footer li a,
footer a {
  color: #9c9c9c;
}

footer li a:hover,
footer a:hover {
  color: white;
}

footer h5 {
  color: #fefefe;
}

img {
  opacity: 0.9;
}

img:hover {
  opacity: 1;
}

footer .menu > li > a {
  padding: 0.25rem 0rem;
}

figure {
  position: relative;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 20px;
  padding: 2em;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 2em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 70%;
}

a {
  text-decoration: underline;
}

.timeline-entry {
  display: block;
  max-width: 450px;
}

.timeline-date {
  float: left;
  display: block;
  text-align: right;
  color: grey;
  width: 140px;
}

.timeline-text {
  float: right;
  max-width: 300px;
  border-left: 1px solid grey;
  padding-left: 1em;
}

code {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
}

.nav:hover a {
  font-weight: bold;
  color: #0ae;
}

.nav::before {
  content: '» ';
  max-width: 200px;
}

p.note {
  padding: 2em;
  border: 1px double red;
  margin-top: 2em;
  border-radius: 4px;
  background-color: #eee;
}

ul.submenu {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.submenu > li {
  float: left;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-right: 1px;
  border: 1px dotted;
  border-color: lightgrey;
}

ul.submenu > li:hover {
  border-color: yellow;
}

ul.submenu > li.active {
  border-color: #0ae;
  border-bottom: 4px solid;
}

ul.submenu > li.active > a {
  color: #0ae;
}

h5.meta-title {
  color: grey;
  margin-top: 1em;
}

h5.meta-title::after {
  content: ':';
}

h5.meta-title::first-letter {
  text-transform: uppercase;
}

li.ref {
  display: inline;
  background-color: lightgrey;
  border-radius: 4px;
  padding: 4px;
  margin-right: 0.2em;
  line-height: 2em;
}

li.ref:hover {
  background-color: yellow;
}

li.ref > a:hover {
  color: black;
}

a[href*="//"] {
  color: red;
}

a[href*="//"]:hover {
  text-decoration: underline;
}

/**
a[href*="//"]:after {
color: grey;
font-family: "Font Awesome 5 Free";
font-weight: 400;
    content: " 35d";
    font-weight: bold;
    font-size:.6em;
}
**/
table.summary,
table.summary > th,
td {
  border: 1px sold grey;
  border-collapse: collapse;
}

table.summary th {
  text-align: left;
  font-weight: normal;
  font-variant-caps: small-caps;
  line-height: 0.6em;
  background-color: lightgrey;
}

p.code {
  font-family: 'Fira Mono';
  white-space: pre;
  border: 1px solid black;
  font-size: 0.8em;
  padding: 0.4em;
  background-color: lightyellow;
  color: black;
}

table.highlighttable {
  background-color: black;
}

.linenos {
  color: lightgrey;
}

.code,
.linenos {
  background-color: black;
  padding: 4px;
  opacity: 0.9;
}

/*COLORS*/

div.swatch {
  float: left;
  width: 280px;
  margin: 0 20px 20px 0;
}
div.outer {
  float: left;
  border: 1px solid #ccc;
  padding: 1px;
}
div.shadow {
  padding: 1px;
}
div.swatch h1 {
  font-size: 26px;
  font-weight: normal;
  padding-bottom: 5px;
  margin-bottom: 28px;
  border-bottom: 1px solid #ccc;
}
div.color {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
}
div.caption {
  float: left;
  color: #555;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 0 10px;
}
div.swatch h3 {
  margin: 0 0 4px 0;
  padding: 0 0 2px 0;
  width: 160px;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #e6e6e6;
}

.codehilite {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px groove #fff;
}
