<!--
  description: Wrapper for contenteditable.
  status: to-be-removed?
-->
<template/>
<script>
export default {
  name: 'Editable',
  props: {
    tag: {
      type: String,
      default: 'div'
    },
    value: {
      type: String
    },
    placeholder: {
      type: String
    }
  },
  render (h) {
    return h(this.tag, {
      attrs: {contenteditable: true, placeholder:this.placeholder },
      on: {
        blur: this.onBlur
      }
    }, this.value)
  },
  mounted: function () {
  },
  methods: {
    onBlur (event) {
      this.$emit('input', event.target.textContent)
      this.$emit('saveActivity','editable');
    }
  },
  data () {
    return {
      newvalue: null,
      is_placeholder: false
    }
  }
}
</script>
