<template>
  <div>
    <h5 class="tags-title">
      {{ name }}
    </h5>
    <ul class="menu simple tags select">
      <li
        v-for="t,offset in tags(nodelabel)"
        v-if="t.tag==nodelabel"
      >
        <input
          type="checkbox" 
          :checked="isChecked(t.uuid)" 
          @change="meChanged" 
          :id="t.uuid"
          :value="t.name"
        >
        <label :for="t.uuid">
          {{ t.name }}
        </label>
      </li>
    </ul>
  </div>
</template>
<script>
import _ from 'lodash'
import {API} from 'tic'
export default {
  name: 'GenericMemberTags',
  methods: {
    isChecked (uuid) {
      let has = this.activeTags.filter(function (e) { return e.uuid === uuid; })
      return !_.isEmpty(has)
    },
    tags (tagsetname) {
      return this.$store.state.user.tags.filter((e) => { return e.tag === tagsetname })
    },
    
    meChanged (ev, x) {    
      let me = this
      let theTag = this.$store.state.user.tags.filter((e) => { return e.uuid === ev.target.id })[0]
      if (ev.target.checked) {
        console.log("ADD TAG: ", theTag, me.item.uuid, me.item.title)
        me.activeTags.push(theTag)

        API.put('/tags', {
          user: this.$store.state.user.uuid,
          tag: theTag.uuid,
          target: me.item.uuid
        })
        //
        //  .then(function (response) {
        //    this.sources = response.data.sources
        //})  

      } else {
        console.log("REMOVE TAG: ", theTag)
        API.delete('/tags', { body: {
          user: this.$store.state.user.uuid,
          tag: theTag.uuid,
          target: me.item.uuid
        }})

        me.activeTags = me.activeTags.filter(function (e) { return e.uuid !== theTag.uuid })
        // this.$store.commit('activity/removeTag', theTag)
      }
    }
  },
  
  props: {
    item: {
      type: Object
    },
    nodelabel: {
      type: String,
      default: ''
    },    
    name: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: null
    },
    value: {
      type: String,
      required: false
    }
  },

  data () {
    return {
      activeTags: [],
      hasTags: false,
      selected: {},
      languages: [],
      years: [],
      classes: [],
      keywords: []
    }
  }
}
</script>