<template>
  <div>
    <ElTag
      :key="tag"
      v-for="tag in dynamicTags"
      closable
      :disable-transitions="false"
      @close="handleClose(tag)"
    >
      {{ tag }}
    </ElTag>
    <ElAutocomplete
      v-if="inputVisible"
      class="inline-input"
      v-model="state1"
      :fetch-suggestions="querySearch"
      placeholder="Please Input"
      @select="handleSelect"
      :trigger-on-focus="true"
      ref="saveTagInput"
      value-key="name"
    />

    <!--    
<el-input
  class="input-new-tag"
  v-if="inputVisible"
  v-model="inputValue"
  ref="saveTagInput"
  size="mini"
  @keyup.enter.native="handleInputConfirm"
  @blur="handleInputConfirm"
-->


    <ElButton
      v-else
      class="button-new-tag"
      size="small"
      @click="showInput"
    >
      + New Tag
    </ElButton>

    <p>NB: in de Elemene demo werken de cursorpijltjes voor selectie via keyboard; die doen het bij ons NIET :(</p>

    <ElAutocomplete
      class="inline-input"
      v-model="state2"
      :fetch-suggestions="querySearch"
      placeholder="Please Input"
      :trigger-on-focus="false"
      @select="handleSelect"
    />



    xx: <ElAutocomplete
      class="inline-input"
      v-model="state1"
      :fetch-suggestions="querySearch"
      placeholder="Please Input"
      @select="handleSelect"
      :trigger-on-focus="true"
      popper-class="iets"
      clearable="1"
    />
  </div>
</template>
<script>

import {API} from '../tic'
export default {
  name: 'LanguageSelect',
  // components: { Confirm },
  props: [],
  methods: {
    querySearch (queryString, cb) {
      console.log("zoek: ", queryString)
      var links = this.links
      var results = queryString ? links.filter(this.createFilter(queryString)) : links
      // call callback function to return suggestions
      cb(results)
    },

    createFilter (queryString) {
      return (entry) => {
        return (entry.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      }
    },

    showInput () {
      this.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    loadAll () {
      API.get('/languages').then((response) => {
        this.links = response.data
        console.log("assign: ", this.links)
      })

      // return [
      //   { "value": "vue", "link": "https://github.com/vuejs/vue" },
      //   { "value": "element", "link": "https://github.com/ElemeFE/element" },
      //   { "value": "cooking", "link": "https://github.com/ElemeFE/cooking" },
      //   { "value": "mint-ui", "link": "https://github.com/ElemeFE/mint-ui" },
      //   { "value": "vuex", "link": "https://github.com/vuejs/vuex" },
      //   { "value": "vue-router", "link": "https://github.com/vuejs/vue-router" },
      //   { "value": "babel", "link": "https://github.com/babel/babel" }
      //  ];
    },

    handleClose (tag) {
      console.log("close tag: ", tag)
    },
    handleInputConfirm () {
      this.inputVisible=false
      console.log("input confirm")
    },
    
    handleSelect (item) {
      console.log("selected item: ", item);
      this.inputVisible=false

    }

  },
  data () {
    return {
      links: [],
      state1: '',
      state2: '',
      dynamicTags: ['Tag 1', 'Tag 2', 'Tag 3'],
      inputVisible: false,
      inputValue: '',
      languages: {
        'nl': 'Nederlands',
        'en': 'English',
        'fr': 'Francais',
        'de': 'Deutsch'
      }
    }
  },

  mounted () {
    this.links = this.loadAll();
    console.log("loaded: ", this.links)
  }  
}
</script>
<style>

.input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }

/* hum why is this needed? */
.el-autocomplete-suggestion li:hover {
  background-color: red;
}

</style>