<template>
  <Transition name="modal">
    <div
      class="modal-mask"
      @click="close"
      xv-show="show"
    >
      <div
        :class="'modal-container '+sizemodal"
        @click.stop
      >
        <button
          @click="close"
          class="close-button"
          aria-label="Close alert"
          type="button"
        >
          <span aria-hidden="true">
            &times;
          </span>
        </button>
          
        <slot />
      </div>
    </div>
  </Transition>
</template>

<script>

export default {
  name: 'Modal',
  props: {
    show: {
      type: String,
      default: ''
    },
    onConfirm: {
      type: String,
      default: ''
    },
    onAddSource: {
      type: String,
      default: ''
    },    
    title: {
      type: String,
      default: ''
    },    
    uuid: {
      type: String,
      default: ''
    },
    csstype: {
      type: String,
      default: ''
    },      
    sizemodal: {
      type: String,
      default: ''
    },    
  },


  methods: {
    close () {
      //this.show = false
      this.$emit('closeModal')
      this.$emit('closeConfirm')
      // this.onClose(this.uuid)      
    }
  },
  mounted () {
    document.addEventListener('keydown', (e) => {
      if (e.keyCode === 27) {
        e.preventDefault()
        this.close()
      }
    })
  }
}
</script>



<style>
* {
    box-sizing: border-box;
}

.modal-mask {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(85, 187, 0, .7);
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}  
.modal-container {
    max-width: 75rem;
    max-height: calc(100% - 100px);
/*    height:100%;*/
    position: relative;
    background-color: white;
    margin: auto;
    padding: 20px 30px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}
.modal-container.small {
  width:60%;
} 
.modal-container.medium {
  width:76%;
}   
.modal-container.large {
  width:90%;
  height: 90%;
  padding:0;
  margin:auto;
}  
.modal-container.full {
  width:100%;
  height:100%;
/*  overflow:hidden;*/
  max-height: 100%;
  padding:0;
  margin:0;
}  
.modal-mask.scroll .modal-container {
  overflow-y:auto;
}    
  
.modal-container img {
      max-height: 100%;
  }
.modal-container .description {
  resize: vertical;
    line-height: 1.6em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    -ms-word-break: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-spacing: 0 -0.05em 1em;
    /* optimum, minimum, maximum respectively */
    letter-spacing: 0 -0.01em 0.02em;
  }
  .modal-container .column.scroll {
    overflow-y: auto;
  }
  
  .modal-container .row {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
    
/*   EXPLANATION: https://vuejs.org/v2/guide/transitions.html  */
  
.modal-enter-active /* modal-enter & modal-enter-to together when opening */ {
  animation: zoomIn .5s;
  -webkit-animation: zoomIn .5s;
}
.modal-leave-active {
  animation: zoomIn .5s reverse;
  -webkit-animation: zoomIn .5s reverse;
}
/*
.modal-enter, .modal-leave-to { 
  background-color:red; 
  }
.modal-enter-to, .modal-leave {
  background-color:yellow; 
  }  
*/
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}
  
  

</style>