<template>
  <div>
    <label>
      {{ name }}
      <select
        multiple
        v-model="selected"
      >
        <option :key="i" v-for="(v,i) in vals[name]">
          {{ v }}
        </option>
      </select>
      selected: {{ selected }}
    </label>
  </div>
</template>
<script>
let vals = {
  class: ['6G', '3HV', '5VWO', '2VMBO', '1RAND'],
  year: ['2016-2017', '2017-2018'],
  keywords: ['First World War', 'Napoleon']
}

export default {
  name: 'MyLabel',
  watch: {
    selected: function () {
      // console.log('IT CHANGED ', this.selected)
      this.$emit('input', this.selected)
    }
  },
  computed: {
    myName: function () {
      return this.name.charAt(0).toUpperCase() + this.name.slice(1)
    }
  },
  props: {
    name: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: null
    },
    value: {
      type: String,
      required: false,
      default: ''      
    }
  },

  data () {
    return {
      selected: [],
      vals: vals
    }
  }
}
</script>