<template>
  <div
    class="gallery-mask"
    v-show="show"
    transition="gallery"
  >
    <div
      id="bgImage"
      :class="'gallery-container '+sizegallery"
    >
      <div class="button-group medium align-center">
        <a
          class="button call-to-action meta-information"
          data-toggle="meta-info"
        >
          <i
            class="fa fa-info"
            aria-hidden="true"
          />
        </a>
        <a
          @click="$emit('prev')"
          class="button"
        >
          <i
            class="fa fa-chevron-left"
            aria-hidden="true"
          />
        </a>
        <a
          @click="$emit('next')"
          class="button"
        >
          <i
            class="fa fa-chevron-right"
            aria-hidden="true"
          />
        </a>
        <a
          @click="$emit('delete',item)"
          class="button"
        >
          <i
            class="fa fa-trash"
            aria-hidden="true"
          />
        </a>
        <a
          @click="close"
          class="button"
        >
          <i
            class="fa fa-times"
            aria-hidden="true"
          />
        </a>
      </div>
    </div>
    <hr>{{ item.url }}
    <div
      class="dropdown-pane large"
      id="meta-info"
      data-dropdown
      data-hover="true"
      data-hover-pane="true"
    >
      <!--      <p v-if="description">-->
      <h3>Title: {{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </div>
</template>

<script>
// The Vue? Gallery component
export default {
  name: 'Gallery',
  props: ['show', 'onClose', 'title', 'uuid', 'sizegallery', 'item'],
  methods: {
    close: function () {
      //this.show = false
      this.$emit('closeGallery')
    },
    confirm:function() {
      this.onConfirm();
    }
  },
  updated: function () {
    $(this.$el).foundation();
    // set image for current item    
    var a = document.getElementById("bgImage")
    a.style["background-image"] = `url(${encodeURI(this.item.url)})`
    document.addEventListener('keydown', (e) => {
      if (this.show && e.keyCode === 27) {
        this.close()
      }
    })
  }
}
</script>
<style scoped>
* {
    box-sizing: border-box;
}

.gallery-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity .3s ease;
}

.gallery-container {
    margin: 20px auto;
    padding: 24px;
    border-radius: 0;
    transition: all .3s ease;
    background-image:url("/static/img/sequencing/napoleon.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}  
.gallery-container.small {
    width:60%;
    height:60%;
/*    overflow:scroll;*/
} 
.gallery-container.large {
    width:90%;
    height:90%;
/*    overflow:scroll;*/
}   

.form-label {
    display: block;
    margin-bottom: 1em;
}

.form-label > .form-control {
    margin-top: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    line-height: 1.5;
    border: 1px solid #ddd;
}

.gallery-enter, .gallery-leave {
    opacity: 0;
}

.gallery-enter .gallery-container,
.gallery-leave .gallery-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
  
.dropdown-pane {
  background-color: rgba(255,255,255, 0.8);
  }

.meta-information {
  
}

</style>