/* styles for entire eActivity */
@import '../styles/quasar.variables'

body.is-activity-builder {
  height: 100%;
}
#activity-builder {
  background-color: $medium-gray;
}

#content-block-question,
#building-block-question,
.question,
.is-bb-question {
  background-color: $eigeel;
  color: $white;
}
.ea-logo-question
  color $eigeel

#content-block-text,
.building-block.text,
#bb-text,
.is-bb-text {
  background-color: $rood;
  color: $white;
}
.ea-logo-text
  color $rood

#content-block-embed,
#building-block-embed,
.embed,
.is-bb-embed {
  background-color: $oranje;
  color: $white;
}
.ea-logo-embed
  color $oranje

.connecting,
#connecting {
  background-color: $oranje;
  color: $white;
}
.ea-logo-connecting
  color $oranje

.sorting,
#sorting,
.is-bb-sorting {
  background-color: $paars;
}
.ea-logo-sorting
  color $paars

.prioritizing,
#prioritizing,
.is-bb-prioritizing {
  background-color: $blauwgroen;
  color: $white;
}
.ea-logo-prioritizing
  color $blauwgroen

.analysing,
#analysing,
.is-bb-analysing {
  background-color: $grasgroen;
  color: $white;
}
.ea-logo-analysing
  color $grasgroen

.highlighting,
#highlighting,
.is-bb-highlighting {
  background-color: $groen;
}
.ea-logo-highlighting
  color $groen

.comparing,
#comparing,
.is-bb-comparing {
  background-color: $korenblauw;
}
.ea-logo-comparing
  color $korenblauw

.discovering,
.is-bb-discovering
  background-color: $cyaan
.ea-logo-discovering
  color: $cyaan



.menu {
  margin: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.menu>li {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

// [data-whatinput="mouse"] .menu>li {
//   outline: 0;
// }

.menu>li>a {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}

.menu input,
.menu select,
.menu a,
.menu button {
  margin-bottom: 0;
}

.menu>li>a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu>li>a {
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.menu>li>a img,
.menu>li>a i,
.menu>li>a svg {
  margin-right: 0.25rem;
}

.menu,
.menu.horizontal {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.menu>li,
.menu.horizontal>li {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.menu.vertical {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu.vertical>li {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.menu.vertical>li>a {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}


.menu.simple li {
  display: inline-block;
  margin-right: 1rem;
  line-height: 1;
}

.menu.simple a {
  padding: 0;
}

.menu.align-right {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu.icon-top>li>a {
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.menu.icon-top>li>a img,
.menu.icon-top>li>a i,
.menu.icon-top>li>a svg {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  margin-bottom: 0.25rem;
  text-align: center;
}

.menu.icon-top.vertical a>span {
  margin: auto;
}

.menu.nested {
  margin-left: 1rem;
}

.menu .active>a {
  background: #00aaee;
  color: #fefefe;
}

.menu.menu-bordered li {
  border: 1px solid #f5f5f5;
}

.menu.menu-bordered li:not(:first-child) {
  border-top: 0;
}

.menu.menu-hover li:hover {
  background-color: #f5f5f5;
}

.menu-text {
  padding-top: 0;
  padding-bottom: 0;
  padding: 0.7rem 1rem;
  font-weight: bold;
  line-height: 1;
  color: inherit;
}

.menu-centered {
  text-align: center;
}

.menu-centered>.menu {
  display: inline-block;
}

.no-js [data-responsive-menu] ul {
  display: none;
}

.align-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}



#AB-homepage {
  background-color: $medium-gray;
  color: $white;
}

.off-canvas #activitybuilder {
  margin-top: 1em;
}

#activity-builder {
  .card .description {
    min-height: 4.8em;
  }

  #guidance {
    color: $white;
    margin: 1.6em 0;
    width: 100%;
  }

  .menu.horizontal a {
    background-color: $hardroze;
    color: $white;
    box-shadow: 0 0 1px $medium-gray;

    &:hover {
      background-color: $white;
      color: $hardroze;
      border-color: $white;
      box-shadow: 0 0 0px $medium-gray;
    }
  }

  .menu.vertical a {
    color: $white;
    //    padding: 0.7rem 0rem;
  }
}




/* pagination on right of canvas */
#navbar ul {
  position: relative;
  width: 100px;
  list-style: none;
  margin-left: 0;
}

#navbar ul li {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 1px;
  background-color: #9c9c9c;
  color: #f5f5f5;
  transition: 0.5s ease-out;
}

#navbar ul li:before {
  font-family: 'Font Awesome 5 Pro';
  font-size: 24px;
  font-weight: 900;
  position: absolute;
  left: 20px;
  top: 30px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#navbar ul li.manual:before {
  content: '\f128';
}

#navbar ul li.manual a {
  color: #fefefe;
}

#navbar ul li.settings:before {
  content: '\f013';
}

#navbar ul li.settings a {
  color: #fefefe;
}

#navbar ul li.delete:before {
  content: '\f014';
}

#navbar ul li.delete a {
  color: #fefefe;
}

#navbar ul li.share:before {
  content: '\f1e0';
}

#navbar ul li.share a {
  color: #fefefe;
}

#navbar ul li.close:before {
  content: '\f00d';
}

#navbar ul li.next {
  background-color: #595959;
  color: #fefefe;
}

#navbar ul li.next:before {
  content: '\f061';
}

#navbar ul li.next:hover {
  background-color: #fefefe;
  color: #595959;
}

#navbar ul li.previous {
  background-color: #595959;
  color: #fefefe;
}

#navbar ul li.previous:before {
  content: '\f060';
}

#navbar ul li.previous:hover {
  background-color: #fefefe;
  color: #595959;
}

#navbar ul li.duplicate:before {
  content: '\f24d';
}

#navbar ul li.saveBlock {
  background-color: #595959;
  color: #fefefe;
}

// fa-check-cirle
#navbar ul li.saveBlock:before {
  font-weight: normal;
  content: '\f058';
}

#navbar ul li.submit_eLA:hover {
  background-color: #fefefe;
  color: #595959;
}

#navbar ul li.submit_eLA:before {
  content: '\f1d8';
}

#navbar ul li.submit_eLA:hover {
  background-color: #fefefe;
  color: #595959;
}

#navbar ul li.tool {
  background-color:$hardroze;
}

#navbar ul li.tool::before {
  content: '\F067';
}
#navbar ul li.instructions::before {
  content: '\f51c';
  font-weight: normal;
}
// #navbar ul li.addtext::before {
//   content: '\f4a8';
//   content: '\f4b2';
//   font-weight: normal;
// }
#navbar ul a:nth-child(2) li:not(:hover)
 background-color: shade($hardroze,7%)

#navbar ul a:nth-child(3) li:not(:hover)
 background-color: shade($hardroze,14%)


#navbar ul .text,
#ea-logo .text {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  left: 10px;
  bottom: 10px;
  right: 10px;
}

#navbar li:hover {
  webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  // -o-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.137255), 0px 5px 22px 4px rgba(0, 0, 0, 0.117647);
  // box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.137255), 0px 5px 22px 4px rgba(0, 0, 0, 0.117647);
}

#navbar ul li:hover {
  background-color: #fefefe;
  color: #595959;
  // -o-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.137255), 0px 5px 22px 4px rgba(0, 0, 0, 0.117647);
  // box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.137255), 0px 5px 22px 4px rgba(0, 0, 0, 0.117647);
}

/* quixk-fix margin-left on ul's */
#sequence-navigator,
#navbar ul,
#actionbar {
  padding-left: 0;
}



//start delete building block
#remove-bb {
  background-color: $white;
  padding: 2em;
}

.delete-this-bb {}

//#containment-wrapper .delete-this-bb {
//  display:none;
//}
//end delete building block
//Show building-blocks in a sequence as small icons
// pagination at top of canvas BB

//

// #nav-AB {
//   background-color: red;
//   padding: 1em;
// }

.ui-sortable-placeholder {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 124px;
  margin: 0.2em;
  padding: 0;
  //background-color: rgba(180, 180, 180, 0.8);
  outline: 1px dotted $white;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  opacity: 1;
}

//.ui-sortable-helper {
//    background-color: $hardgeel;
//}
.ui-state-highlight {
  //    box-shadow: 0px 0px 5px 0px $black;
  background-color: rgba(255, 255, 255, 0.1);
}

.ui-state-hover {
  //    background-color: $white;
  box-shadow: 0px 0px 10px 0px $black;
}

.ui-state-active {
  //    background-color: $white;
  // box-shadow: 0px 0px 20px 0px $black;
}

#overview-activities .column {
  padding-bottom: 0.5em;
}

//#overview-activities .square-image {
//  position: relative;
//  width: 170px;
//  height: 170px;
//  padding: 0;
//  display: inline-block;
//  &.question {
//    background: no-repeat url("/assets/img/Caras-y-Caretas-Squared.jpg") center $medium-gray;
//  }
//  &.text {
//    background: no-repeat url("/assets/img/European_Imperialism_in_China_thumb_standard.jpg") center $medium-gray;
//  }
//  &.embed {
//    background: no-repeat url("/assets/img/image005.jpg") center $medium-gray;
//  }
//  &.activity {
//    background: no-repeat url("/assets/img/poster.JPG") center $medium-gray;
//  }
//}

#eActivities {
  margin-top: 2em;
}

.reveal {
  color: $black;
}

.object_title,
#drag-drop-area .object_title {
  color: $black;
  width: 140px;
  overflow: hidden;
  white-space: normal;
}

.preview-fullsize {
  //@include reveal-modal-fullscreen;
  // @include reveal-modal-width($global-width);
  cursor: w-resize;
  padding: 36px;
}

// .overlay {
//   margin-top: -2em;
//   .button {
//     background-color: transparent;
//     text-transform: uppercase;
//     color: $dark-gray;
//     &.use::before {
//       font-family: FontAwesome;
//       content: "\f096";
//       padding-right: 0.5em;
//     }
//     &.use:hover::before {
//       content: "\f046";
//     }
//   }
// }

/* ===== TITLE BAR | OPEN/CLOSE SEQUENCE ===== */

.title-bar {
  padding: 0;

  a,
  .title-bar-title {
    color: $white;
    background-color: $black;
    $include: transition($transition-slow);

    &:hover {
      color: $black;
      background-color: $white;
    }
  }

  .title-bar-title {
    padding: 0.7em 1em;
    width: 100%;
    line-height: 1;
  }

  .simple a {
    padding: 0.7em 1em;
    margin: 0;

    .fa {
      padding-right: 0.4em;

      &:hover {
        color: $black;
      }
    }
  }

  .menu.simple li {
    margin-right: 2px;
  }
}


/* source info */

.q-btn.source-info
{
  position:absolute;
  right:16px;

  bottom:15px;
  background-color:rgba(0,102,204,.5);
  /* background-color:rgba(0,0,0,.5); */
}


/* popover for glossary and highlights */

.tooltip {
  position:fixed;
  top:0;
  left:0;
  width:auto;
  max-width:300px;
  transform: translate(-50%, -100%);

  padding: 8px 12px;
  border-radius: 4px;

  background-color:rgba(0,0,0,.75);
  box-shadow: -2px 0 5px rgba(0,0,0,.2);

  z-index:1000;

  transition:all .2s ease 0s;
}
.tooltip:after {
  content:'';
  position:absolute;
  left:50%;
  bottom:-8px;
  transform:translateX(-50%);
  width:0;
  height:0;
  border:8px solid transparent;
  border-top-color:rgba(0,0,0,.75);
  border-bottom:none;
}

.tooltip .textarea
{
  margin:4px 0;
}
.tooltip .q-field__control
{
  background-color:rgba(94,94,94,.8) !important; /* less transparent textarea for better readability */
}
.tooltip textarea
{
  width:240px;
  padding-top:4px !important;
  font-size:16px;
  line-height:1.2em;
  letter-spacing: normal;
}



