@import './quasar.variables'
@import '~quasar-styl'

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');


// @import '~quasar-addon-styl'

.q-header .row,
.q-footer .row,
section > .row
   max-width 1340px

section > .row.q-mx-auto
  margin-left:0;

.q-page > section,
.ea > section,
.q-page > div > section,
.q-page > div > div > section,
.q-page > div > div > div > section,
footer > section
  padding-left:50px !important;
  padding-right:50px !important;

@media (max-width:1010px)
  .q-page > section,
  .q-page > div > section,
  .q-page > div > div > section,
  .q-page > div > div > div > section,
  footer > section
    padding-left:25px !important;
    padding-right:25px !important;



body,
button,
.button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
body {
  /* background color transition */
  transition: background-color 0.8s ease 0s;
}

/* color classes */
.light-gray {
  background-color: $light-gray;
}
.medium-gray {
  background-color: $medium-gray;
}
.dark-gray {
  background-color: #595959;
}
.bg-sas {
  background-color: #0066cc;
}
.bg-homepage
  background-color #00aaee
  color white


/* historiana colors
-------------------------- */

hiColors = light-gray lighter-gray medium-gray dark-gray 'black' 'white' rood oranje eigeel hardgeel appelgroen grasgroen plasticgroen groen blauwgroen cyaan korenblauw hardblauw donkerpaars paars hardroze hardroze

for color in hiColors
  .text-{color}
    color $+color !important

  .bg-{color}
    background-color $+color !important

  .fill-{color}
    fill $+color !important


/* Typography
-------------------------- */

.show-newlines {
  white-space: pre-line;
}
.text-body2 {
  font-size: 86%;
}

h5 {
  margin: 0;
  padding: 1rem 0 0.5rem 0;
}
h6 {
  margin: 0;
  padding: 1rem 0 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  line-height: 0;
  color: #9c9c9c;
}

/* margin and padding to be set here instead of in quasar.vriables.styl to overrule Quasars spacing */

h1 {
  margin: 0.67em 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}



/* Link
-------------------------- */

a {
  text-decoration: none;
  // color: #d07;
}



/* Buttons
-------------------------- */

//smaller default icon size, better for Font-Awesome
.q-btn .fa,
.q-btn .fas,
.q-btn .far,
.q-field__marginal
  font-size: 1.3em;

/*FIX*/
#loginbuttons .q-btn:hover {
  // background-color: $cyaan !important;
  // color: $white !important;
  // filter: brightness(0.92);
  // -webkit-filter: brightness(0.92);
}

.q-page-sticky {
  z-index: 100;
}

.q-checkbox.tag {
  padding-right: 1em;
  background-color: $lighter-gray;
  margin: 0 2px 2px 0;
}
.q-checkbox.tag,
.q-checkbox.tag .q-checkbox__bg {
  border-radius: 120px;
  size: 80%;
}
.q-checkbox.tag .q-checkbox__label {
  padding-left: 0px;
}
.q-checkbox.tag .q-checkbox__inner {
  padding: 0;
}


/* Modals
-------------------------- */

.q-dialog__inner > .q-card
  overflow hidden

  & .q-bar
    height 36px
    //disabled the font-size; every modal gets a hughe font size
    // font-size 1.45rem
    padding 0 8px 0 16px

    h5
      margin 0
      padding 0

  & .q-scrollarea
    height calc(100% - 36px)


/* Form inputs
-------------------------- */

/*  more subtile filled style */
.q-field
  &--filled

    .q-field__control
      background: rgba(0,0,0,.03)

      &:before
        background: rgba(0,0,0,.02)

    &.q-field--focused
      .q-field__control
        &:before
          background: rgba(0,0,0,.05)

/* tables
-------------------------- */

.q-table th
  font-weight: 600;

/* Sections
-------------------------- */
#hiSearch h4,
#hiThemeFilter h4,
#hiFilter h4 {
  color: black;
}
#hiSearch,
#hiThemeFilter,
#hiFilter,
#hiSubnav,
#searcheuropeana {
  background-color: $light-gray;
  margin-bottom: 2px;
}
*:focus {
  outline: none !important;
}

#buttonbar {
  background-color: $light-gray;
  margin-bottom: 2px;
}


ul.underline {
  list-style-type: none;
}

ul.underline > li {
  border-bottom: 1px solid grey;
}



.meta-title {
  font-size: 2em;
  color: white;
}

/* tags */

ul.taglist {
  list-style-type: none;
}

ul.taglist > li {
  display: inline;
}

ul.taglist > li :nth-child() {
  margin-right: 4px;
  margin-bottom: 4px;
}

ul.taglist > li :last-child {
  margin-right: 0px;
  margin-left: 4px;
  margin-bottom: 4px;
}

.icon {
  background-color: $black;
  color: $white;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
// meta information in Card popup (i)

.meta-title-dialog {
  font-size: larger;
  text-transform: uppercase;
  font-weight: small;
  color: $black;
}

tr.meta:nth-child(odd) {
  background-color: $light-gray;
}

.meta-label {
  font-weight: smaller;
  color: $medium-gray;
  margin-right: 2em;
}

.meta-value {
  color: $black;
  font-size: large;
}

div.loading {
  height: 30em;
  position: relative;
  margin: 0 auto;
}
div.loading p {
  color: $white;
  //    border: 2px solid $dark-gray;
  border-radius: 4px;
  padding: 1em;
  margin: 0;
  background-color: $hardroze;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.137255),
    0px 5px 22px 4px rgba(0, 0, 0, 0.117647);
  //    text-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.137255), 0px 5px 22px 4px rgba(0, 0, 0, 0.117647);
}

.euresult {
  background-color: $korenblauw;
  color: $white;
  background-repeat: no-repeat;
  //background-image: url("/static/Icon-white-Europeana.png");
  background-position: center right;
  padding-left: 18px;
  border-right: 10px solid transparent;
}


// .historical-content #filter {
//   padding: 1.4rem 0;
//   .menu {
//     a.active,
//     :hover,
//     :active,
//     :focus {
//       color: $plasticgroen;
//       text-decoration: underline solid $grasgroen;
//       outline: none;
//     }
//   }
// }
// .teaching-learning #filter {
//   padding: 1.4rem 0;
//   .menu {
//     a.active,
//     :hover,
//     :active,
//     :focus,
//     .selected {
//       color: $blauwgroen;
//       text-decoration: underline solid $blauwgroen;
//       outline: none;
//     }
//   }
// }

.hc_title {
  margin-top: 0.5em;
  margin-bottom: 2em;
  border-bottom: 2px solid;
}
.module_name {
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-bottom: 2px solid;
}
.module_title {
  margin-top: 0.5em;
  margin-bottom: 0;
  border-bottom: none;
}

.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
  margin-bottom: 1.42857rem;
  padding: 1.42857rem;
  background: #ffffff;
  color: $medium-gray;
  font-size: 0.9em;
  a {
    // color: $plasticgroen;
    text-decoration: none;
    border-bottom: 1px solid;
    cursor: pointer;
  }
}
// .is-historical-content .content li a {
//   color: $plasticgroen;
//   text-decoration: none;
//   border-bottom: 1px solid $plasticgroen;
//   cursor: pointer;
// }
iframe {
  width: 100%;
  min-height: 640px;
}

#select-background .has-tip {
  border-bottom: 0;
  font-weight: bold;
  cursor: pointer;
}

#select-background {
  background-color: white;
  padding: 4px;
  width: 600px;
  max-width: 80vw;
}
#select-background ul {
  padding-left: 0;
  margin: 0 auto;
}
#select-background li {
  font-weight: normal;
  font-size: 10px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-right: 4px;
  margin-bottom: 4px;
  width: 100px;
  height: 120px;

  -ms-word-break: normal;
  word-break: normal;

  /* Non standard for WebKit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  background-color: white;
  border: 1px solid lightgrey;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
#select-background li span {
  background-color: #f60;
  color: white;
  padding: 4px 2px;
  height: 40px;
}
#select-background li span:hover,
#select-background li:hover {
  background-color: rgba(255, 102, 0, 0.37) !important;
  color: #f60;
}

#select-background li#Empty {
  background-image: none;
}
#select-background li#Circles {
  background-image: url("/static/img/sorting/Circles.svg");
}
#select-background li#TimelineNoNumbers {
  background-image: url("/static/img/sorting/TimelineNoNumbers.svg");
}
#select-background li#LineHorizontal {
  background-image: url("/static/img/sorting/LineHorizontal.svg");
}
#select-background li#LineVertical {
  background-image: url("/static/img/sorting/LineVertical.svg");
}
#select-background li#SquaresTwo {
  background-image: url("/static/img/sorting/SquaresTwo.svg");
}
#select-background li#SquaresThree {
  background-image: url("/static/img/sorting/SquaresThree.svg");
}
#select-background li#XYaxis {
  background-image: url("/static/img/sorting/XYaxis.svg");
}
#select-background li#Venn2 {
  background-image: url("/static/img/sorting/Venn2.svg");
}
#select-background li#Venn3 {
  background-image: url("/static/img/sorting/Venn3.svg");
}
#select-background li:hover {
  color: #ff6600;
  background-color: #fefefe;
}
#select-background li.selected {
  color: #ff6600;
  background-color: #fefefe;
}

#tool {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#canvastool {
  background-color: #fefefe;
  height: 825px;
  width: 100%;
  overflow: hidden;
  border: 0;
  border-top: 0;
  background-size: contain;
  /*    background-position: top center;*/
  background-repeat: no-repeat;
}

.halfCanvas {
  background-color: #fefefe;
  height: 825px;
  width: 50%;
  overflow: hidden;
  border: 0;
  border-top: 0;
  background-size: contain;
  /*    background-position: top center;*/
  background-repeat: no-repeat;
}
.lightGrey {
  background-color: lightgrey;
}

.img-src {
  background-color: #fefefe;
  color: #595959;
  width: 120px;
  min-height: 120px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.137255),
    0px 1px 8px 0px rgba(0, 0, 0, 0.117647);
}
.img-src .title {
  padding: 0.2em;
  font-size: 80%;
}
.img-src i {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.137255),
    0px 1px 8px 0px rgba(0, 0, 0, 0.117647);
  -moz-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.137255),
    0px 1px 8px 0px rgba(0, 0, 0, 0.117647);
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.137255),
    0px 1px 8px 0px rgba(0, 0, 0, 0.117647);
}
.img-src i:hover {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.137255),
    0px 5px 22px 4px rgba(0, 0, 0, 0.117647);
  -moz-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.137255),
    0px 5px 22px 4px rgba(0, 0, 0, 0.117647);
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.137255),
    0px 5px 22px 4px rgba(0, 0, 0, 0.117647);
}

textarea {
  width: 48em;
}

#information {
  border: 1px solid dimgray;
  padding: 0.5em;
  margin: 0 auto;
  margin-top: 1em;
  max-width: 64em;
}

#information .title,
#information .description {
  margin-bottom: 1em;
}

.image-modal {
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 100%;
  max-height: 600px;
}

.row #modal {
  max-width: 100%;
}

#modal .column,
#modal .columns {
  vertical-align: middle;
}

.el-popover {
  position: absolute;
  background: #fff;
  min-width: 150px;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  padding: 12px;
  z-index: 2000;
  color: #606266;
  line-height: 1.4;
  text-align: justify;
  font-size: 14px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}





/* ===== COLORED BLOCKS ===== */

#search-europeana {
  background-color: $korenblauw;
  color: $white;
}

#search-europeana h4 {
  margin-bottom: rem-calc(16);
}

#register {
  background-color: $white;
  padding-top: rem-calc(16);
}

#find-apps {
  background-color: $eigeel;
  padding-top: rem-calc(16);
}

#create-app {
  background-color: $hardgeel;
  padding-top: rem-calc(16);
}

#advanced-search a,
#field-of-interest a,
#resource-type a,
#tags a {
  background-color: transparent;
  color: $white;
}

#find-resources {
  background-color: $medium-gray;
}


.type.historicalcontent,
.type.timelines,
.card #timelines,
.type.units,
.unit,
.card #units,
.type.casestudies,
.casestudy,
.card #casestudies,
.type.lifestories,
.card #lifestories,
.type.sourcecollections,
.card #sourcecollections,
.type.key-moments,
.card #key-moments,
.type.keymoments,
.card #keymoments,
.type.viewpoints,
.card #viewpoints,
.type.collections,
.card #collections,
.type.ViewpointCollection,
.type.narrative,
.is-historical-content .type.sas {
  background-color: $plasticgroen;
  color: $white;
}

.type.sas,
.card #sas,
.type.searchpartner {
  background-color: $korenblauw;
  color: $white;
}

.type.learningactivities,
.card #learningactivities,
.type.teachingstrategies,
.card #teachingstrategies,
.type.apps,
.card #apps,
.teaching-learning .type.ela {
  background-color: $blauwgroen;
  color: $white;
}

.ela, .partner, .ViewpointCollection {
  background-color: $hardroze;
  color: $white;
}

.private {
  background-color: $hardroze !important;
  color: $white;
}

.building-block.apps {
  background-color: $hardroze;
  color: $white;
}

.is-my-historiana .subnav.router-link-active,
.is-activity-builder .subnav.router-link-active,
.is-my-historiana .subnav:hover,
.is-activity-builder .subnav:hover {
  color: $hardroze;
  border-bottom: 2px solid $hardroze;
}

.is-my-historiana a.subnav:hover {
  color: $hardroze;
}

.is-select-sources .subnav.router-link-active,
.is-select-sources .subnav:hover {
  color: $korenblauw;
  border-bottom: 2px solid $korenblauw;
}

.is-select-sources a.subnav:hover {
  color: $korenblauw;
}

.source {
  background-color: $dark-gray;
  color: $white;
}
.collection {
  background-color: $hardroze;
  color: $white;
}
.collection.published, .ela.published, .partner.published {
  background-color: $korenblauw;
  color: $white;
}


/* ===== SECTIONS ===== */

#subnav {
  background-color: $light-gray;
  //    a {
  //      color: $hardroze;
  //  }
}

// #search,
// #actionbar-imagelibrary-a,
// #actionbar-imagelibrary-b {
//   background-color: $light-gray;
// }

#browse {
  background-color: $light-gray;
}

//#filter {
//    background-color: $light-gray;
//    color:$black;
//}
#upload-sources {
  background-color: $light-gray;
}

#set div.ui-icon {
  background-color: $medium-gray;
  z-index: 2;
}


//mark colors for text highlighting, placed here so they can be used outside of eActivity blocks

//full colors
.mark.m1 {
  color:rgb(255,255,0);
  background-color:rgb(255,255,0);
}
.mark.m2 {
  color:rgb(255,170,0);
  background-color:rgb(255,170,0);
}
.mark.m3 {
  color:rgb(255,0,170);
  background-color:rgb(255,0,170);
}

//faded text background colors
mark.m1 {
  background-color:rgba(255,255,0,.6);
}
mark.m2 {
  background-color:rgba(255,170,0,.6);
}
mark.m3 {
  background-color:rgba(255,0,170,.3);
}

//softer background-colors for teacher highlights and editing mode
mark.m1.teacher,
.editor mark.m1 {
  background-color:rgba(255,255,0,.25);
}
mark.m2.teacher,
.editor mark.m2 {
  background-color:rgba(255,170,0,.25);
}
mark.m3.teacher,
.editor mark.m3 {
  background-color:rgba(255,0,170,.12);
}


// style doubles also in card.vue

// #card-holder {
//   background-color: $medium-gray;
//   width: 100%;
//   padding: 2em 0;

//   .card-holder-title {
//     color: $white;
//     margin-bottom: 1em;
//   }
// }

// @import "./colors.scss";
// @import "./_settings.scss";
// @import "./activitybuilder.scss";
// @import "./cards.scss";
// @import "./header.scss";


table.meta-info tr:nth-child(even) {
  background-color: lightGrey;
}

// added for http://localhost:8080/historical-content/source-collections/contrasting-catholic-and-protestant-art
// where we translate \n to <br> via newline() method.
br.newline {
  display: block;
  margin-top: 0.8em;
  content: ' ';

}

// q-bar tittle for dialog boxes
.title-bar {
  font-weight: bold;
}
