// It's highly recommended to change the default colors
// to match Historiana's branding.

// Quasar is installed as a plugin --> Vue CLI
// https://quasar.dev/style/stylus-variables


$light-gray		?= #f5f5f5
$lighter-gray ?= #e0e0e0
$medium-gray  ?= #9c9c9c
$dark-gray    ?= #595959
$black        ?= #313131
$white        ?= #fefefe
$rood         ?= #cc0000
$oranje       ?= #ff6600
$eigeel       ?= #eebb00
$hardgeel     ?= #eeee00
$appelgroen   ?= #bbee00
$grasgroen    ?= #55bb00
$plasticgroen ?= #00aa44
$groen        ?= #00aa88
$blauwgroen   ?= #00aabb
$cyaan        ?= #00aaee
$korenblauw   ?= #0066cc
$hardblauw    ?= #1133bb
$donkerpaars  ?= #331188
$paars        ?= #771177
$lichtpaars   ?= #aa0099
$hardroze     ?= #dd0077


$primary   ?= $hardroze
$secondary ?= #00AABC
$accent    ?= #00aaee

$positive  ?= #55bb00
$negative  ?= #ff6600
$info      ?= #eeee00
$warning   ?= #ff0000

$body-font-size                 ?= 16px
$input-font-size                ?= 16px
$button-font-weight             ?= 600
$body-line-height               ?= 1.5

$button-shadow                  ?= $shadow-1
$button-shadow-active           ?= $shadow-2

$headings ?= {
  h1: {
    size: 3.25rem,
    line-height: 4.25rem,
    weight: 300,
    letter-spacing: -.01562em
  },
  h2: {
    size: 2.05rem,
    line-height: 2.25rem,
    letter-spacing: -.00833em,
    weight: 300
  },
  h3: {
    size: 1.85rem,
    line-height: 2rem,
    letter-spacing: normal,
    weight: 400
  },
  h4: {
    size: 1.65rem,
    line-height: 1.85rem,
    letter-spacing: .00735em,
    weight: 400
  },
  h5: {
    size: 1.45rem,
    line-height: 1.65rem,
    letter-spacing: normal,
    weight: 400,
    margin: 1rem 0 0.5rem 0,
    padding:  1rem 0 0.5rem 0
  },
  h6: {
    size: 1.25rem,
    line-height: 1.45rem,
    letter-spacing: .0125em,
    weight: 500,
    margin-top: 0,
    margin-bottom: 0,
    padding:  1rem 0 0.5rem 0,
  }
}

$text-weights ?= {
  thin: 100,
  light: 300,
  regular: 400,
  medium: 600,
  bold: 700,
  bolder: 800
}

$menu-transition ?= .15s ease 0s

@import '~quasar-variables-styl'