<template>
  <div class="admin" v-if="!$store.getters['user/isAdmin']">
      <h4 style="text-align: center;color:red;font-weight: 900">Error: not authenticated</h4>
      <h4 style="text-align: center"><a href="/"><i class="fa fa-home fa-4x"/></a></h4>
  </div>
  <div class="admin" v-else>
    <ElHeader>
      <div>
        <span class="admin">&nbsp;<a style="color:white" href="/admin/">Admin</a></span>
        <a href="/">
          <img style="float:left" src="/static/interface-img/H/H_icon_diap.png">
        </a>
        <span class="logininfo">
          <strong>{{ $store.getters['user/displayname'] }}</strong>
          <br>
          {{ new Date() | moment("dddd, MMMM Do YYYY") }}
        </span>
      </div>
    </ElHeader>
    <ElContainer>
      <ElAside id="sidemenu" style="width: 200px">
        <ElMenu default-active="dashboard" :router="true">
          <ElMenuItem v-for="r in menuEntries" :index="r.name" :key="r.name">
            <RouterLink class="menu-entry" :to="{name:r.name}">{{ r.plural ? r.plural : r.name }}</RouterLink>
          </ElMenuItem>
        </ElMenu>
      </ElAside>
      <ElMain>
        <Transition name="fade">
          <RouterView/>
        </Transition>
      </ElMain>
    </ElContainer>

    <ElFooter>
      <!--empty footer-->
    </ElFooter>
  </div>
</template>

<script>
import tic from "../../tic";
import { API } from "../../tic";
// import importCollection from 'views/admin/Collections'
import { routes } from "../../config/routes.js";

// import {meta} from './meta.js'
import "./admin.scss";

import Vue from 'vue'
import Element from 'element-ui'

Vue.use(Element)


export default {
  name: "Admin",
  methods: {
    ts(timestamp) {
      return tic.theDate(timestamp);
    },
    hd(timestamp) {
      return tic.humanDate(timestamp);
    }
  },

  computed: {
    menuEntries() {
      // render only the non-hidden entries
      return this.routes.filter(e => {
        return !e.hide;
      });
    }
  },

  beforeCreate() {
    console.log("--> admin init for ", this.$store.getters["user/displayname"]);
    // load meta data for various tags
    this.$store.dispatch("admin/init");
  },

  mounted() {
    // let me = this
    // document.location.hash === '#/s3cret?yay=1' ? me.sp = true : me.sp = false

    // get all meta info on stuff for UI elements
    // API.get('/admin/meta', {
    // }).then(resp => {
    //    this.meta = resp.data.data
    // })
    console.log("-> admin mounted");
  },

  data() {
    return {
      // get the childs for the Admin section to render them in the navigation
      // defined in config/routes.js
      routes: routes
        .filter(r => {
          if (r.name === "admin") {
            return true;
          }
        })
        .pop().children,
      data: [],
      meta: {}
    };
  }
};
</script>


<style scoped>
th {
  text-align: left;
  color: white;
}
td,
th {
  padding: 0.2em;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
span.admin {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 2.4em;
}

.logininfo {
  font-family: "Ubuntu";
  font-weight: 500;
  float: right;
  text-align: right;
}



</style>
