@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
// @import "../../style/_settings.scss";

$light-gray: #f5f5f5;
$medium-gray: #9c9c9c;
$dark-gray: #595959;
$black: #313131;
$white: #fefefe;
$rood: #cc0000;
$oranje: #ff6600;
$eigeel: #eebb00;
$hardgeel: #eeee00;
$appelgroen: #bbee00;
$grasgroen: #55bb00;
$plasticgroen: #00aa44;
$groen: #00aa88;
$blauwgroen: #00aabb;
$cyaan: #00aaee;
$korenblauw: #0066cc;
$hardblauw: #1133bb;
$donkerpaars: #331188;
$paars: #771177;
$lichtpaars: #aa0099;
$hardroze: #dd0077;

div.admin {
  td {
    vertical-align: top;
  }

  & h1 {
    color: $cyaan;
    font-size: 2.2em;
  }

  & h1:before {
    font-family: "FontAwesome";
    content: "\f054";
    margin-right: 0.5em;
    color: $cyaan;
  }

  & h4 {
    color: $medium-gray;
    margin-top: 0.8em;
  }

  .el-container,
  .el-menu,
  .el-aside,
  footer,
  body {
    background-color: $cyaan;
  }

  .el-main {
    background-color: $white;
  }

  header {
    height: 120px;
  }

  .el-header {
    background-color: $cyaan;
    color: $white;
    padding-top: 1em;
  }

  .el-menu-item:hover,
  .el-menu li.is-active a:hover {
    background-color: $white !important;
    color: $cyaan;
  }

  .el-menu li:hover a {
    color: $cyaan;
  }

  .el-menu .is-active,
  .el-menu li.is-active a {
    background-color: $white;
    color: $cyaan;
  }

  .el-menu {
    border-right: 0;
  }

  .el-menu-item {
    display: block;
    padding: 0;
    margin: 0;
    color: white;
    height: 56px;
    font-size: 1.4em;
    font-weight: 700;
  }

  .el-menu-item:hover {
    background-color: #eee;
    color: black;
  }

  .is-active {
    background-color: #eee;
    color: black;
  }

  /* these are the left side admin menu items */
  .menu-entry {
    font-size: 0.8em;
    text-transform: capitalize;
    font-weight: smaller;
    color: $white;
    margin-top: 0.8em;
    //	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
    line-height: 1em;
  }

  th {
    background-color: $korenblauw;
  }

  .dataTable,
  table.dataTable tr,
  table.dataTable td,
  table thead,
  table tbody,
  table tfoot {
    border: 0 !important;
  }

  table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
  }

  table.dataTable thead {
    height: 30px;
  }

  table.summary,
  table.summary th {
    padding: 0.4em 0.6em 0.4em 0 !important;
    border: 0 !important;
  }

  table.summary td {
    padding: 0.4em 0.6em 0.4em 0 !important;
    border: 0;
    border-bottom: 1px solid $medium-gray;
  }

  .el-table th > .cell {
    color: $white;
  }

  // used for checkbox blocks in the admin
  // eg <hi-duration> in Learning Activities

  .form-check-block h5 {
    margin-top: 0px;
    padding-top: 0px;
    font-weight: bold;
  }

  .form-check-block.why {
    background-color: lightgreen;
    display: block;
    min-width: 340px;
    padding: 1em;
    border: 1px solid grey;
    border-radius: 4px;
    float: left;
    margin-right: 2em;
  }

  .form-check-block {
    background-color: #eee;
    display: block;
    max-width: 240px;
    padding: 1em;
    border: 1px solid grey;
    border-radius: 4px;
    float: left;
    margin-right: 2em;
  }

  .form-check-block > ul,
  li {
    list-style-type: none;
  }

  .form-check-block > ul,
  li {
    margin: 0px;
    padding: 0px;
  }

  .hoverme:hover {
    font-weight: bold;
  }

  .hi-button {
    padding: 0.3em 0.5em 0.3em 0.5em;
    background-color: #ddd;
    border: 1px solid transparent;
  }

  .hi-button:hover {
    border: 1px solid black;
  }

  .message {
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0.2em;
    height: 1.2em;
    font-weight: bold;
  }

  .message.ok {
    background-color: lightgreen;
  }
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 148px;
  height: 148px;
  line-height: 148px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
