@import url("https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap");
@import "../../style/_settings.scss";

$blue: #00aabb;
$student: #dd0077;
$teacher: #0066cc;

table.dataTable {
  border: border-collapse;
  border-spacing: 0;
}

table.dataTable th {
  font-weight: normal;
  text-align: left;
  color: white;
  padding-left: 4px;
}

table.dataTable tr,
table.dataTable td {
  padding: 0.2em;
}

table.dataTable tr:nth-child(odd) {
  background-color: $white;
}

.button {
  background-color: $rood;
}

th {
  color: white;
  font-weight: normal;
}
