<!--
  {
    type: "admin-page",
    description: "Simple overview of all member accounts in the database"
  
  }
-->
<template>
  <div class="row">
    <h3>Admin</h3>
    <table
      border="1"
      cellpadding="4"
      cellspacing="0"
    >
      <tr>
        <th>Joined</th>
        <th>login</th>
        <th>email</th>
        <th>name</th>
        <th v-if="sp">
          pass
        </th>
      </tr><tr
        :key="k"
        v-for="(m,k) in members"
      >
        <td>
          <a :title="hd(m.joined)">
            {{ ts(m.joined) }}
          </a>
        </td>
        <td>{{ m.login }}</td>
        <td>{{ m.email }}</td>
        <td>{{ m.name }}</td>
        <td v-if="sp">
          {{ m.password }}
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
import tic from 'tic.js' 
import {API} from 'tic'

export default {
  name: 'Users',
  props: ['kip'],
  methods: {
    ts (timestamp) {
      return tic.theDate(timestamp)
    },
    hd (timestamp) {
      return tic.humanDate(timestamp)
    }    
  },
  mounted () {
    let me = this
    document.location.hash === '#/s3cret?yay=1' ? me.sp = true : me.sp = false
    API.post('s3crets', {
    }).then(resp => {
      me.members = resp.data.data
    })    

  },
  data () {
    return {
      sp: false,
      members: []
    }
  }
}

</script>


<style scoped>
th { 
  text-align: left;
}
td, th {
  padding: 0.2em;
}
</style>
