<!doctype html>
<html class="no-js" lang="en">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<head>
		<!-- base -->
		<link href="/static/app.css" rel="stylesheet">
		<link href="/static/style.css" rel="stylesheet">
		<link href="/static/pygment.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
		<meta property="og:site_name" content="Historiana for Developers" />
		<meta property="og:url" content="https://historiana.dev" />
		<meta property="og:description" name="description" content="Historiana offers free historical content, ready to use learning activities, and innovative digital tools made by and for history educators across Europe." />
		<meta name="language" content="english" />
		<meta name="copyright" content="CC-BY" />
		<meta property="og:title" content="Historiana" />
		<meta property="og:image" content="http://live.historiana.eu/static/HLOGO.jpg" />
		<meta property="og:image:secure_url" content="https://live.historiana.eu/static/HLOGO.jpg" />
		<meta property="keywords" content="historiana, history, europe, teachers, students" />
		<title>Historiana</title>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.webtic.nl/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

	</head>
	<script>
		new Vue({
			created: function () {
				console.log("docs init");
			}
		})
	</script>
	<body class="is-homepage">
		<header>
			<div class="row">
				<div class="column small-12 medium-9 large-9 small-order-2 medium-order-1 large-order-1">
					<div class="row align-top">
						<!-- ===== LOGO ===== -->
						<div class="column shrink" id="logo">
							<a href="/">
								<!-- <img class="logo svg" src="/static/interface-img/H/Logo-H.svg" /> -->
								<svg
									xmlns="http://www.w3.org/2000/svg"
									id="Layer_1"
									data-name="Layer 1"
									viewBox="0 0 72.89 100"
									class="logo svg replaced-svg"
									>
									<path
										class="cls-1"
										d="M53.36,0V26.86H19.53V0H0V100H19.24l4.47-24.23h-.07L19.82,63.93h0a17.19,17.19,0,1,1,33.24,0h0L49.26,75.77h-.08L53.65,100H72.89V0Z"
									></path>
								</svg>
							</a>
						</div>
						{% include "mainmenu.html.jinja2" %}
					</div>
				</div>
			</div>
		</header>

	{% block submenu %}
	{% endblock submenu %}

	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<h3>{{title}}</h3>
		</div>
	</div>


	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			{{content}}
		</div>
	</div>

	{%block content%}
	{% endblock content %}


</body>
</html>
