{# template to render the component section #}
{% extends "base.html.jinja2" %}
{% block submenu %}
	<div class="row">
		<div class="large-12 columns">
			<ul class="submenu">
    <li><a href="frontend.html" >Introduction</a></li>
    <li><a href="activity_builder.html">Activity Builder</a></li>
    <li><a href="build_a_block.html">Building a Block</a></li>
    <li><a href="design.html">Design</a></li>
    <li class="active"><a href="frontend_components.html" >VUE components</a></li>
			</ul>
			<br clear="all">
			<br clear="all">
		</div>
	</div>
{% endblock submenu %}
{% block content %}
	<div class="row">
		<div class="large-3 columns">
			{% for f in files %}
				{% if loop.changed(f.relpath) %}
					<br/><b>{{f.relpath}}</b>
					{%endif %}
					<li class="nav"><a href="{{f.reldest}}">{{f.name}}</a></li>

				{% endfor %}
			</div>
			<div class="small-12 medium-9 large-8 columns">
				{% if name %}
					<h3 class="module"><span style="color:grey">Component: </span>{{name}}</h3>
					{% if prev %}
						<a class="button tiny" href="{{prev['reldest']}}">
							<i class="fas fa-arrow-left"></i>&nbsp;{{prev['name']}}
						</a>
					{% endif %}
					{% if next %}
						<a class="button tiny" href="{{next['reldest']}}">
							{{next['name']}}&nbsp;<i class="fas fa-arrow-right"></i>
						</a>
					{% endif %}
					<hr size="1">
				{% endif %}

				{% if meta==None %}
					<p class="note">No documentation available</p>
				{% else %}
					{% for (k) in meta %}

						{% if k=='image' %}
							<p>
								<img src="{{meta[k]['url']}}" title="{{meta[k]['title']}}"/>
							</p>
						{% elif k=='inputs' %}
							<h5 class="meta-title">{{k}}</h5>
							<table class="summary">
								<tr><th>property</th><th>description</th></tr>
								{% for (kk) in meta[k] %}
									<tr><td>{{kk}}</td><td>{{meta[k][kk]}}</td></tr>
								{% endfor %}
							</table>
						{% elif k=='emits' %}
							<h5 class="meta-title">Emits events</h5>
							<table class="summary">
								<tr><th>event</th><th>description</th></tr>
								{% for (kk) in meta[k] %}
									<tr><td>{{kk}}</td><td>{{meta[k][kk]}}</td></tr>
								{% endfor %}
							</table>
						{% elif k=='example' %}
								<h5 class="meta-title">Example code</h5>

								<!-- HTML by Pygment -->
								{{meta[k]}}

						{% else %}
							<h5 class="meta-title">{{k}}</h5>
							<p>{{meta[k]}}</p>
						{% endif %}
					{% endfor %}
				{% endif %}

				{% if refs %}
					<h5 class="meta-title">Referenced in</h5>
					{% for r in refs %}
						<a target="related" href="{{r.url}}">
							<li class="ref">{{r.name}}
						</a></li>
					{% endfor %}

				{% endif %}

			</div>
			<div class="large-1 columns"></div>
	</div>
{% endblock content %}