<!doctype html>
<html class="no-js" lang="en">
	<head>
		<link href="static/app.css" rel="stylesheet">
		<link href="static/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
		<meta property="og:site_name" content="Historiana for Developers" />
		<meta property="og:url" content="https://historiana.dev" />
		<meta property="og:description" name="description" content="Historiana offers free historical content, ready to use learning activities, and innovative digital tools made by and for history educators across Europe." />
		<meta name="language" content="english" />
		<meta name="copyright" content="CC-BY" />
		<meta property="og:title" content="Historiana" />
		<meta property="og:image" content="http://live.historiana.eu/static/HLOGO.jpg" />
		<meta property="og:image:secure_url" content="https://live.historiana.eu/static/HLOGO.jpg" />
		<meta property="keywords" content="historiana, history, europe, teachers, students" />
		<title>Historiana</title>
	</head>
	<body class="is-homepage">
		<header>
			<div class="row">
				<div class="column small-12 medium-9 large-9 small-order-2 medium-order-1 large-order-1">
					<div class="row align-top">
						<!-- ===== LOGO ===== -->
						<div class="column shrink" id="logo">
							<a href="/">
								<!-- <img class="logo svg" src="/static/interface-img/H/Logo-H.svg" /> -->
								<svg
									xmlns="http://www.w3.org/2000/svg"
									id="Layer_1"
									data-name="Layer 1"
									viewBox="0 0 72.89 100"
									class="logo svg replaced-svg"
									>
									<path
										class="cls-1"
										d="M53.36,0V26.86H19.53V0H0V100H19.24l4.47-24.23h-.07L19.82,63.93h0a17.19,17.19,0,1,1,33.24,0h0L49.26,75.77h-.08L53.65,100H72.89V0Z"
									></path>
								</svg>
							</a>
						</div>
						{% include "mainmenu.html.jinja2" %}
					</div>
				</div>
			</div>
		</header>
		<div id="homepage">
			<div class="row show-for-medium show-for-large" id="Historiana-intro"class="large-12 columns">
				<h3>Historiana for Developers</h3>
				<h4>On historiana.eu we offers free historical content, ready to use learning activities, and innovative digital tools made by and for history educators across Europe.</h4>
				<h4>The project is open source and we are calling developers from over the world to join!</h4>
			</div>
			<!--
				div class="row small-up-2 medium-up-3 large-up-3" id="directions">
				<div class="small-6 medium-3 large-3 columns">
						<a href="#">
								<h5>Search sources <i class="fa fa-arrow-right fa-lg" /></i></h5>
								<h6>Search sources in the digital collections of Europeana or selected archives, libraries and museums</h6>
						</a>
				</div>
			-->
		</div>
	</div>
	<div class="row">
		<div class="small-2 large-12 columns ">
			<h4>Powered by</h4>
			<ul class="logos">
				<li><a class="logo" href="https://vuejs.org"><img src="/static/logo/vuelogo.png"/></a></li>
				<li><a class="logo" href="https://www.python.org"><img src="/static/logo/python-logo-master-v3-TM.png"/></a></li>
				<li><a class="logo" href="https://neo4j.com"><img src="/static/logo/neo4j_logo.png"/></a></li>
				<li><a class="logo" href="https://github.com/huge-success/sanic"><img src="/static/logo/sanic-framework-logo-400x97.png"/></a></li>
				<li><a class="logo" href="https://py2neo.org/v4/"><img src="/static/logo/py2neo-2018.291x50.png"/></a></li>
			</div>
		</div>
		<footer>
			<div class="row" id="branding">
				<div class="small-2 medium=4 large-12 columns bottomline">
					<p>
						<a href="https://historiana.eu/">
							<img
							class="logo-footer"
							id=""
							src="/static/logo/Logo_Historiana_diap.png"
							>
						</a>
						<span class="expl">
							is developed by
						</span>
						<a
							href="https://euroclio.eu"
							target="_blank"
							>
							<img
							class="logo-footer"
							id=""
							src="/static/logo/EuroClio_logo_lighter.png"
							>
						</a>
						<span class="expl">
							,
						</span>
						<a
							href="https://webtic.eu"
							target="_blank"
							>
							<img
							class="logo-footer"
							id=""
							src="/static/logo/logo_webtic_diap.png"
							>
						</a>
						<span class="expl">
							and
						</span>
						<a
							href="https://use.media/20years/"
							target="_blank"
							>
							<img
							class="logo-footer"
							id=""
							src="/static/logo/USE_logo_footer.png"
							>
						</a>
					</p>
				</div>
				<div class="columns small-12 medium-12 large-12">
					<p>
						<a
							href="https://europa.eu/european-union/index_en"
							target="_blank"
							title="Opens in a new window."
							>
							<img
							style="max-width:60px;max-height:30px;"
							class="logo-footer"
							id=""
							src="/static/logo/flag_black_white_low.jpg"
							>&nbsp;&nbsp;Co-funded by the European Union&nbsp;&nbsp;&nbsp;
						</a>  <a
						href="http://www.europeana.eu/portal/en"
						target="_blank"
						title="Opens in a new window."
						>
						<img
						style="max-width:60px;max-height:30px;"
						class="logo-footer"
						id=""
						src="/static/logo/EU_split_logo_A_white.png"
						>&nbsp;&nbsp;Powered by Europeana
					</a>
				</p>
			</div>
		</div>
	</footer>
</html>