<!--
  description: checkbox to define the duration(s) of a Learning Activity
  todo: remodel to use mapState
-->
<template>
  <div class="form-check-block">
    <h5><i class="fa fa-clock-o" />&nbsp;{{ title||'Duration' }}</h5>
    <ul>
      <li v-for="e in entries">
        <label class="hoverme">
          <input
            v-model.lazy="active" 
            @change="e => { $emit('input', active)}" 
            :value="e" 
            type="checkbox"
          >&nbsp;{{ e }}
        </label>
      </li>
    </ul>
    v: {{ v }}<br>
    entries: {{ entries }}
  </div>
</template>
<script>
import {API} from 'tic'
export default {

  	name: 'HiDuration',
    props: ['title', 'v'],

    watch: {
      v: {
        immediate: true,
        handler: 'getData'
      }
    },

    methods: {
      getData () {
        this.entries = this.$store.getters['admin/forms'][this.v] || []
      }
    },

  	data () {
  		return {
        entries: [],
        active: [],
        selected: null
  		}
  	}
}
</script>
<style scoped>



</style>