<!--
  description: extend a checkbox with a textarea to document the reason for the checkbox
  todo: remodel to use mapState, implement in admin, currently not working

--><template>
  <div
    class="form-check-block"
    :class="view"
  >
    <!-- HACK: we need this otherwise active is not set with initial values :( -->
    <pre style="display: none">{{ value }}</pre>

    <h5>
      <i
        class="fa"
        :class="icon"
      />&nbsp;{{ title||form.title }}
    </h5>

    <div
      v-loading.fullscreen.lock="loading"
      element-loading-text="Processing..."
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
    />

    <ul>
      <li v-for="e in $store.getters['admin/forms'][set].options">
        <label class="hoverme">
          <input
            v-model.lazy="active" 
            @change="e => { 
              if (view==='why') {
                sendUpdate()
              } else {
                $emit('input', active)}
            }" 

            @click.alt.exact.prevent="doDelete(e.label)"
            :value="e.label" 
            type="checkbox"
          >&nbsp;{{ e.label }}
        </label>

        <textarea 
          v-if="view==='why' && active && active.includes(e.label)" 
          placeholder="Add the Why" 
          v-model.lazy="why[e.label]" 
          @change="e => { $emit('upWhy', sendUpdate()) }"
          rows="8"
          cols="42"
        />
      </li>
    </ul>

    <span
      v-if="message"
      class="message ok"
    >
      {{ message }}
    </span>
    <button
      v-if="!addNew && message==='' && add"
      @click="addNew=true"
      class="hi-button"
    >
      <i class="fa fa-plus" /> Add
    </button>

    <div v-if="addNew">
      <input
        v-model="newValue"
        placeholder="Add..."
        type="text"
        size="30/"
      >
      <button
        :disabled="!newValue.length>0"
        @click="doAdd(newValue)"
        class="hi-button"
      >
        Yes
      </button>
    </div>
    <!--  <pre>active: {{active}}</pre> -->    
    <!--  <pre>value: {{value}}</pre> -->
  </div>
</template>
<script>
import {API} from 'tic'
export default {

  	name: 'HiCheckbox',
    props: ['title', 'set', 'icon', 'view', 'add', 'value'],

    watch: {

      set: {
        immediate: true,
        handler: 'getData'
      }
    },

    updated () {
      if (this.view!=='why') {
        this.active = this.value
      }
    },

    methods: {

      sendUpdate () {
        let vm = this
        // use vm.active to determine which checkboxes / why info 
        // we should sent to the caller. 
        let whys = {}
        vm.active.forEach(e => {
          whys[e] = vm.why[e]
        })

        return {why:whys,set:vm.set}
      },
      doDelete (label) {
        let vm = this
        this.loading=true
        let really = confirm(`Delete ${label} ?`)
        if (really) {
          API.post(this.form.actions.delete.method, {
            value: label,
            field: this.form.actions.delete.field
          })
          .then((resp) => {
            vm.$store.commit('admin/SET_FORMS', resp.data.data)
            vm.loading=false
          })
        }
        //vm.loading=false
        vm.$message({message:'Delete ignored.', type:'success'});
      },

      // nope () {
      //   this.message=''
      // },

      doAdd (label) {
        let vm = this
        this.newValue=''
        this.addNew = false
        this.loading = true
        this.message = 'Adding...'
        API.post(`/admin/add/form/${vm.form['node']}`, {
          value: label, 
          field: this.form.actions.add.field
        })
        .then((resp) => {
          vm.$store.commit('admin/SET_FORMS', resp.data.data)
          vm.message=''
          this.loading=false
          //setTimeout(() => { 
          //  this.nope() 
          //} , 1000)

        })
      },

      getData () {
        this.form = this.$store.getters['admin/forms'][this.set] || []
        // neem de waarden in v-model variabele over 
        //this.active = this.value
      }
    },

  	data () {
  		return {
        loading: false,
        form: [],
        active: [],
        selected: null,
        addNew: false,
        newValue: '',
        message: '',
        why: {}
  		}
  	}
}
</script>