<!--
  description: select a Partner to connect
  todo: remodel to use mapState
-->
<template>
  <div>
    <ElRow>
      <ElCol :span="12">
        <select 
          v-model="selected" 
          @input="event => { $emit('input', event.target.value) }"
        >
          <option
            :key="o.uuid"
            :value="o.uuid"
            v-for="o in options"
          >
            {{ o.name }}
          </option>
        </select>
      </ElCol>
      <ElCol
        v-if="selected"
        :span="2"
      >
        &nbsp;<ElButton
          type="danger"
          size="mini"
          circle
          icon="el-icon-delete"
          @click="remove"
        />
      </ElCol>
    </ElRow>
  </div>
</template>
<script>

export default {
	name: 'SelectPartner',
  props: {
    value: {
      type: String, 
      default: ''
    },
    options: {
      type: String,
      default: ''
    }
  },

  mounted () {
    this.selected = this.value 
  },

  methods: {
    remove (item) {
      this.selected = ''
      this.$emit('remove', this.selected)
    }
  },

	data () {
		return {
      selected: ''
		}
	}
}
</script>