<template>
<div>
	<q-form v-if="showAdd||showEdit">
		<span class="form-title q-pa-md">{{title}}</span>

		<q-input
        filled
        v-model="name"
        label="Name"
        hint="A descriptive name for this team"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"/>

        <br/>

		<q-markup-table flat>
			<thead>
				<tr>
					<th></th>
					<th v-for="a in actions">{{a.label}}</th>
				</tr>
			</thead>
			<tbody>
			<tr v-for="type in archetypes">
				<td><span class="text-h6">{{type.label}}</span></td>
				<td align="center" v-for="a in actions">
						<q-checkbox
							:value="getCheckboxValue(type.code, a.code)"
							@input="v => { checkboxClick(v, type.code, a.code) }"
						/>

				</td>

			</tr>
			</tbody>
		</q-markup-table>


		<div class="q-mt-md flex flex-center">
			<q-btn flat label="Cancel" @click="cancel" color="secondary"/>
			<q-btn flat label="Save" @click="save" color="primary"/>
		</div>


	</q-form>

	<section v-if="!showAdd && !showEdit">

		<q-table
      		:data="groups"
      		:columns="columns"
      		row-key="uuid"
      		:pagination="{rowsPerPage:20}"
      		:dense="false"
      		:filter="filter"
    	>

        <template v-slot:top-right="props">
        	<q-input
              outlined
              dense
              debounce="300"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
		</template>

         <template v-slot:body-cell-actions="props">
            <q-td :props="props">
              <q-btn dense round flat color="grey" @click="edit(props)" icon="fad fa-pencil"></q-btn>
              <q-btn dense round flat color="grey" @click="remove(props)" icon="fad fa-trash"></q-btn>
            </q-td>
          </template>

    	</q-table>


	</section>



</div>
</template>
<script>
import { API, clone } from '../tic'
import { QSpinnerGears } from 'quasar'

export default {
	name: 'admin-teams',
	props: ['showAdd'],
	data() {
		return {
			preset: '',
			filter: '',
			showEdit: false,
			archetypes: [],
			actions: [],
			cleanPerms: {},
			perms: {},
			permset: {},
			name: '',
			code: '',
			groups: [],
			options: ['Manager', 'Editor', 'Contributor'],
			columns: [
				{ name: 'name', label:'name', field: row => row.name, align:'left' },
				// { name: 'code', label:'code', field: row => row.code, align:'left' },
				{ name: 'actions', label:'action', field: "actions", align:'right' },

			]
		}
	},
	computed: {
		title: function() {
			let a = this.showAdd ? 'Add' : 'Edit'
			return `${a} a team`
		}
	},

	// https://www.raymondcamden.com/2019/08/12/working-with-the-keyboard-in-your-vue-app
	created() {
		window.addEventListener('keydown', this.doCommand);
	},

	destroyed() {
		window.removeEventListener('keydown', this.doCommand);
	},

	mounted () {
		// toggle loading
		this.$q.loading.show()

		// get all groups
		this.load()

		// get permissions
		API.get('/system/group-permissions').then(r => {
			this.archetypes = r.data.data.archetypes
			this.actions = r.data.data.actions

			// get all actions
			for (let p in this.actions) {
				this.permset[this.actions[p].code] = false
			}

			// get all content types
			for (let a in this.archetypes) {
				this.perms[this.archetypes[a].code] = clone(this.permset)
			}

			this.cleanPerms = clone(this.perms)
			this.$q.loading.hide()
		})
	},

	methods: {

		doCommand(e) {
			if (e.keyCode===27) {
				this.cancel()
			}

		},

		load() {
			// load the groups data
			API.get('/system/groups').then(r => {
				this.groups = r.data.data
				for (let g of this.groups) {
					if (g.perms) {
						g.perms = JSON.parse(g.perms)
					}
				}
			})
		},

		cancel() {
			this.showEdit=false
			this.$emit('hide')
		},

		edit(props) {
			console.log("edit-group ", props)
			console.log("groups ", this.groups)
			let record = this.groups.find(e => e.uuid===props.key)

			console.log("XXX>> ", record.perms ? true:false)

			console.log(">>> ", record.perms)
			console.log("found record: ", record)
			this.code = record.code
			this.name = record.name
			this.uuid = record.uuid
			//this.perms = record.perms ? record.perms : clone(this.cleanPerms)
			console.log("set these perms: ", record.perms)
			this.perms = clone(record.perms)

			// clone(this.cleanPerms)
			console.log("init perms: ",record.perms )
			this.showEdit=true
		},

		remove(props) {
			this.$q.dialog({
        		title: '<i class="fas fa-trash"></i>&nbsp;Confirm',
        		message: `Really delete this item?<br><b>${props.row.name}</b>`,
        		cancel: true,
        		persistent: true,
        		html: true
      		}).onOk(() => {
	          	API.delete(`/system/groups/${props.key}`).then(r => {
	          		// reload data after delete
					this.load()
				})
			})
		},

		save () {
			// save the data, then clean local copy
			this.$q.loading.show({
				spinner: QSpinnerGears,
          		spinnerColor: 'green',
          		messageColor: 'green',
          		backgroundColor: 'lightgrey'
          	})

          	API.post('/system/group', {
          		code:this.code,
          		name:this.name,
          		perms:this.perms,
          		uuid:this.uuid ? this.uuid:null

          	}).then(r => {
          		this.$q.loading.hide()
          		this.$emit('hide')
          		this.showEdit=false
          		this.code=''
          		this.name=''
          		this.uuid=null
          		this.perms=clone(this.cleanPerms)
          		this.load()
          	})
		},

		// get the value for the checkbox, deal with missing entries
		getCheckboxValue(type, perm) {
			try {
				let val = this.perms[type][perm]
			}
			catch (err) {
				if (this.perms[type] === undefined) {
					this.perms[type] = {}
					this.perms[type][perm] = false
				}
			}

			// do not return undefined
			return this.perms[type][perm] ? this.perms[type][perm] : false
		},

		checkboxClick(value, type, perm) {
			this.perms[type][perm] = !this.perms[type][perm]
			// force an update, Vue is not smart enough to detect the mutation above.
			this.$forceUpdate();

		}
    }

}
</script>
<style>

.permissions td:nth-child(even) {
  background-color: #eee;
}

</style>