{% extends "base.html" %} {% block hello %} {% if dear %} Dear {{name}}, {%
endif %} {% endblock %} {% block content %}
<p>
  The processing of your Excel import <b>{{collection.name}}</b> is finished.
</p>
{% if log%}
<p>There were some issues processing the file:</p>
<table
  style="border: 1px solid grey; border-collapse: collapse;"
  cellpadding="2"
  cellspacing="2"
>
  <tr>
    <th style="border: 1px solid grey;" align="left">line</th>
    <th style="border: 1px solid grey;" align="left">title</th>
    <th style="border: 1px solid grey;" align="left">code</th>
    <th style="border: 1px solid grey;" align="left">message</th>
    <th style="border: 1px solid grey;" align="left">url</th>
  </tr>
  {% for e in log %}
  <tr>
    <td style="border: 1px solid grey; vertical-align: top;">{{e.line}}</td>
    <td style="border: 1px solid grey; vertical-align: top;">{{e.title}}</td>
    <td style="border: 1px solid grey; vertical-align: top;">{{e.code}}</td>
    <td style="border: 1px solid grey; vertical-align: top;">{{e.msg}}</td>
    <td style="border: 1px solid grey; vertical-align: top;">{{e.url}}</td>
  </tr>
  {% endfor %}
</table>
{% endif%}
<p>
  To view the results go to your Historiana Collection at <br />
  <a href="">{{host}}/my/collections/</a> or click the button below:
</p>

<table>
  <tr>
    <td
      style="
        font-family: sans-serif;
        font-size: 14px;
        vertical-align: top;
        background-color: #ffffff;
        border-radius: 5px;
        text-align: center;
        background-color: #00aaee;
      "
    >
      <a
        href="{{host}}/my/collections"
        target="_blank"
        style="
          text-decoration: underline;
          background-color: #ffffff;
          border: solid 1px #00aaee;
          border-radius: 5px;
          box-sizing: border-box;
          color: #00aaee;
          cursor: pointer;
          display: inline-block;
          font-size: 14px;
          font-weight: bold;
          margin: 0;
          padding: 12px 25px;
          text-decoration: none;
          text-transform: capitalize;
          background-color: #00aaee;
          border-color: #00aaee;
          color: #ffffff;
        "
        >Goto {{collection.name}}</a
      >
    </td>
  </tr>
</table>
{% endblock content %}
