{% extends "base.html" %}

{% block hello %}
{% if dear %}
Dear {{dear}},
{% endif %}
{% endblock %}

{% block content %}
<p>Someone requested that the password be reset for the following account:</p>

Login: {{login}}

<p>If this was a mistake, just ignore this email and nothing will happen.</p>

<p>To reset your password please use this link:<br/>
<a href="{{host}}{{resetlink}}">{{host}}{{resetlink}}</a> 
<br/>or click the button below:</p>

<table>
  <tr>
 <td style="font-family:sans-serif;font-size:14px;vertical-align:top;background-color:#ffffff;border-radius:5px;text-align:center;background-color:#00aaee;"> <a href="{{host}}{{resetlink}}" target="_blank" style="text-decoration:underline;background-color:#ffffff;border:solid 1px #00aaee;border-radius:5px;box-sizing:border-box;color:#00aaee;cursor:pointer;display:inline-block;font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-decoration:none;text-transform:capitalize;background-color:#00aaee;border-color:#00aaee;color:#ffffff;">Reset my password</a> </td>
</tr>
</table>

<p>Note: the link if valid for 3 hours</p>
<p>{{message}}</p>

{% endblock content %}