<!--
  description: Helper to redirect links for a eLearning activity
-->
<template>
  <div></div>
</template>
<script>
export default {
  // Student eActivity VIEW entrypoint for SHARING
  // URLS via Shortener like http://localhost:8080/#/hist/DR
  // end up here.
  //
  // We here redirect to the first block of a Activity.
  //
  // to do this we fetch the first block and construct the correct url
  // including /type/blockname and make that active
  name: "ElaRedirect",
  props: {
    mode: {
      type: String,
      default: ""
    }
  },

  mounted() {
    console.log("ELA REDIRECTOR ", this.$route, "mode: ", this.mode)
    console.log("share: ", this.$route.query.s)

    let s = this.$route.query.s

    // ben vergeten waarom dit zo gedaan wordt; kan dit eenvoudiger met een gewone API().then()  ?
    let c = async () => {
      await this.$store.dispatch("activity/load", {
        uuid: this.$route.params.uuid,
        mode: this.mode,
        route: this.$route
      })
      let act = this.$store.getters["activity/activity"]
      this.$store.commit("activity/setStudentAnswersUuid", s)
      console.log("** push to: ", act.studentviewURL)
      this.$router.push(act.studentviewURL)
    }
    c()
  }
}
</script>
