    <!-- ===== BROWSE ===== -->

    <!-- is this template still needed? Eg for teaching & Learning -->

    <section
      id="browse"
      v-show="$store.getters['user/showBeta']"
    >
      <div class="row">
        <div class="col-shrink">
          <h4>What are you looking for?</h4>
        </div>
        <div class="col">
          <ul
            class="dropdown menu large"
            data-dropdown-menu
          >
            <li>
              <a href="#">
                <i class="fa fa-list" /> Historical thinking
              </a>
              <ul class="menu vertical">
                <li>
                  <a href="/la/context/historical-thinking/analysis-of-historical-sources/">
                    Analysis of Historical Sources
                  </a>
                </li>
                <li>
                  <a href="/la/context/historical-thinking/applying-historical-knowledge/">
                    Applying Historical Knowledge
                  </a>
                </li>
                <li>
                  <a href="/la/context/historical-thinking/cause-and-consequence/">
                    Cause and Consequence
                  </a>
                </li>
                <li>
                  <a href="/la/context/historical-thinking/change-and-continuity/">
                    Change and Continuity
                  </a>
                </li>
                <li>
                  <a href="/la/context/historical-thinking/chronological-understanding/">
                    Chronological Understanding
                  </a>
                </li>
                <li>
                  <a href="/la/context/historical-thinking/historical-interpretations/">
                    Historical Interpretations
                  </a>
                </li>
                <li>
                  <a href="/la/context/historical-thinking/historical-significance/">
                    Historical Significance
                  </a>
                </li>
                <li>
                  <a href="/la/context/historical-thinking/presenting-the-past/">
                    Presenting the Past
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-list" /> Teaching methods
              </a>
              <ul class="menu vertical">
                <li>
                  <a href="/la/context/teaching-methods/compare-and-contrast/">
                    Compare and Contrast
                  </a>
                </li>
                <li>
                  <a href="/la/context/teaching-methods/debate-and-discussion/">
                    Debate and Discussion
                  </a>
                </li>
                <li>
                  <a href="/la/context/teaching-methods/drama-and-roleplay/">
                    Drama and Roleplay
                  </a>
                </li>
                <li>
                  <a href="/la/context/teaching-methods/interdisciplinary-work/">
                    Interdisciplinary Work
                  </a>
                </li>
                <li>
                  <a href="/la/context/teaching-methods/persuade-and-present/">
                    Persuade and Present
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-list" /> Teaching challenges
              </a>
              <ul class="menu vertical">
                <li>
                  <a href="/la/context/teaching-challenges/challenging-stereotypes/">
                    Challenging Stereotypes
                  </a>
                </li>
                <li>
                  <a href="/la/context/teaching-challenges/encouraging-multiperspectivity/">
                    Encouraging Multiperspectivity
                  </a>
                </li>
                <li>
                  <a href="/la/context/teaching-challenges/making-history-accessible/">
                    Making History Accessible
                  </a>
                </li>
                <li>
                  <a href="/la/context/teaching-challenges/making-the-past-relevant/">
                    Making the Past Relevant
                  </a>
                </li>
                <li>
                  <a href="/la/context/teaching-challenges/moral-dilemmas-in-the-past-and-the-present/">
                    Moral Dilemmas in the Past and the Present
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>
