<template>
  <div>
    <label>
      Copyright<br>
      <ElSelect
        @change="saveChanges"
        v-model="selected_value"
        placeholder="Select"
      >
        <ElOption
          v-for="p in list"
          :key="p.uuid"
          :label="p.name"
          :value="p.uuid"
        />
      </ElSelect>
    </label>
  </div>
</template>
<script>
import {API} from '../tic'
export default {
	name: 'HiCopyright',
  	props: {
    	current: {
      		type: String,
      		default: ''
    	},

    	meta: {
      		type: String,
      		default: ''
    	},
    
    	item: {
      		type: String,
      		default: ''
    	}
  	},

	methods: {
		saveChanges (itemUuid) {
			let vm = this
			console.log("### SAVE CHANGES")
			API.post("/set-relation", {
				source: vm.item,
				target: vm.selected_value,
				old: vm.current,
				rel: 'HAS_COPYRIGHT',
				delete: true
			})
			.then((resp) => {
				vm.$emit('change')
				vm.$store.dispatch('user/getSources')
				// forces reload of MySources in Gallery.vue
				// vm.$emit('update', itemUuid)
			})
		}
	},

	mounted () {
		let vm = this
		// set initial value
		vm.selected_value = vm.current || ''

		API.get('/get-copyright-list')
		.then((resp) => {
			this.list = resp.data.data
		})
	},

	data () {
    	return {
    		tmpMeta: {},
    		selected_value: '',
    		list: []
    	}
    }
}
</script>
