<template>
  <div
    class="main-menu"
    :class="{ active: isActive, full: full }"
    @mouseleave="setActive(false)"
  >
    <div v-show="isActive" class="shade" />

    <router-link custom v-slot="{ href, navigate }" to="/">
      <a
        class="nav-block home"
        :href="href"
        @mouseenter="setActive(true)"
        @click="navigate"
      >
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 100 100"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <path
            :class="'fill-' + color"
            d="M100,0 L100,100 L0,100 L0,0 L100,0 Z M38.3968994,14 L25,14 L25,82.5965153 L38.1979695,82.5965153 L41.2642338,65.9755796 L41.2162162,65.9755796 L38.5958293,57.8537522 C37.3324791,53.0708142 39.1888852,48.0078042 43.2445736,45.1751478 C47.3002619,42.3424914 52.6928785,42.3424914 56.7485668,45.1751478 C60.7179639,47.9475349 62.5806696,52.8563766 61.4737224,57.5481021 L61.397311,57.8537522 L58.7906434,65.9755796 L58.7357662,65.9755796 L61.8020305,82.5965153 L75,82.5965153 L75,14 L61.6031006,14 L61.6031006,32.425024 L38.3968994,32.425024 L38.3968994,14 Z"
          ></path>
        </svg>
      </a>
    </router-link>

    <nav
      class="menu-large row"
      role="navigation"
      :class="[textColor, bgColor, { 'is-cover': isCover }]"
    >
      <router-link
        v-for="(link, i) in links"
        :key="i"
        custom
        v-slot="{ href, navigate, isActive }"
        :to="link.to"
      >
        <a
          class="nav-block"
          :class="'text-' + link.color"
          @click="navigate"
          :href="href"
        >
          <i :class="link.icon" />
          <label>{{ link.label }}</label>
        </a>
      </router-link>
    </nav>

    <div v-if="isActive" class="user">
      <span v-if="isAuthenticated">
        {{ displayname }}
      </span>
      <span v-else=""> Not logged in </span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "HiMainMenu",

  props: {
    full: {
      type: Boolean,
      default: false,
    },

    color: {
      type: String,
      default: "white",
    },
  },

  data() {
    return {
      isActive: false,
      isCover: true,
      links: [
        //TODO replace with dynamic data from store?
        {
          to: "/historical-content",
          label: "Historical Content",
          icon: "fa fa-landmark",
          color: "plasticgroen",
        },
        {
          to: "/teaching-learning",
          label: "Teaching & Learning",
          icon: "fa fa-users",
          color: "blauwgroen",
        },
        {
          to: "/builder",
          label: "E-Activity Builder",
          icon: "fa fa-pencil",
          color: "primary",
        },
        {
          to: "/my",
          label: "My Historiana",
          icon: "fa fa-user",
          color: "primary",
        },
      ],
    };
  },

  computed: {
    ...mapGetters("user", [
      "displayname",
      "isAuthenticated",
      "showBeta",
      "isAdmin",
    ]),

    textColor() {
      return "text-" + this.color;
    },

    bgColor() {
      return "bg-" + this.color;
    },

    fillColor() {
      return "fill-" + this.color;
    },
  },

  watch: {
    full(to, from) {
      this.isCover = true;
    },
  },

  methods: {
    setActive(active) {
      this.isActive = this.full ? false : active;
      this.isCover = false;
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~quasar-variables';

.main-menu {
  position: fixed;
  inset: 0;
  height: 50px;
  z-index: 2000;
  pointer-events: none;
}

.main-menu.active {
  pointer-events: all;
}

.home {
  display: block;
  left: 50px;
  top: 0;
  pointer-events: all;
  cursor: pointer;
  transform: scale(0.5);
  transform-origin: 0 0;
  transition: transform $menu-transition, background-color $menu-transition;
  background-color: alpha($white, 0.85);
}

.home path {
  fill: alpha($white, 0.8);
}

.shade {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.07);
}

.user {
  position: absolute;
  right: 25px;
  top: 13px;
  color: $white;
  font-size: 14px;
  font-weight: 600;
}

/* full menu view */
.main-menu.full, .main-menu.active {
  .menu-large, .home {
    transform: none;
  }

  .home {
    background-color: $white;
  }
}

.main-menu.active {
  .menu-large {
    right: auto;
  }
}

.menu-large {
  position: absolute;
  left: 150px;
  top: 0;
  height: 100px;
  list-style: none;
  transform: translateY(-100%);
  transition: transform $menu-transition;
  pointer-events: all;
}

.menu-large.is-cover {
  right: 0;
}

.menu-large {
  a {
    display: block;
    border: 1px solid $white;
    border-right-width: 0;
    background-color: transparent;
    transition: background-color $menu-transition;
  }

  a:not(:hover) {
    color: $white !important;
  }

  a:last-child {
    border-right-width: 1px;
  }

  a:hover {
    background-color: $white;
  }
}
</style>