<template>
	<section>
		
      <div class="row q-mx-auto q-py-md justify-between items-center">

        <div class="col-shrink q-pr-md">
          <p>{{ result.totalResults }} items match <em>{{ searchFor }}</em></p>

                  <div class="col">
          <q-select
            @input="reLoad"
            v-model="showMax"
            :options="itemsPerPage"
            label="Items per page"
          />
        </div>


        </div>
        <div class="col">
          <q-btn-group right>
            <q-btn
              x-if="prevCursor.length"
              @click="prevnext('prev')"
              icon="fas fa-chevron-left"
              label="Previous"
              hint="Prev"
              no-caps
              class="bg-sas"
            />

            <q-btn
              @click="prevnext('next')"
              icon-right="fas fa-chevron-right"
              hint="Next"
              label="Next"
              no-caps
              class="bg-sas"
            />

          </q-btn-group>
        </div>
      </div>





	</section>
</template>
<script>
export default {
	name: 'hiResultSet',
	props: {
		result: {
			type: Array,
			default: () => []
		},

		searchFor: {
			type: String,
			default: ''
		}
	},

	created () {
		console.log("resultset: xxxx")
	},

	data () {
		return {
			itemsPerPage: [10, 25, 50, 100]
   	        showMax: 25,

		}
	}
}
</script>