<template>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th width="220">
            Time
          </th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="e in events">
          <td>{{ tic.theDate(e.ts) }}</td>
          <td>{{ e.msg }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import {API} from 'tic'
import tic from 'tic.js' 
export default {
  methods: { },
  mounted: function () {
    var me = this
    API.post('/getActivityLog', {uuid: this.$store.state.user.uuid})
    .then((response) => {
      this.events = response.data.data
    })
  },
  data () {
    return {
      tic: tic,              
      events: []
    }
  }
}
</script>