<template>
  <q-uploader
    v-show="false"
    :hide-upload-btn="hideUploadButton"
    url="/api/upload"
    label="Batch upload"
    multiple
    batch
    :headers="getHeaders"
    auto-upload
    @finish="uploadDone"
  />
</template>

<script>
import { collection } from '../datamodel'
import _ from 'lodash'
import { API } from '../tic'
import HiLanguage from '../components/hiLanguage'

export default {
  name: 'Upload',
  components: { HiLanguage },
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    let me = this // get it in the scope
    return {
      uploadState: 'createSource',
      hideUploadButton: false,
      isUploaded: false,
      record: {},
      context: 'source',
      maximizedToggle: true,
    }
  },

  methods: {
    getHeaders(e) {
      return [
        // these are needed in the API to identify the user
        { name: 'X-Session', value: this.$store.getters['user/session'] },
        { name: 'X-Process', value: this.uploadState },
      ]
    },

    uploadDone() {
      this.$emit('close')
      this.$emit('reload')
      this.$q.notify({
        type: 'positive',
        position: 'top',
        message: 'Sources uploaded',
      })
    },

    saveCollection() {
      API.post('/collection/add', this.record)
        .then((r) => {
          //this.record = r.data.data
          this.$refs.uploader.upload()
          this.doInit()
          this.$emit('isDirty')
          this.$store.commit('user/closeUpload')
          this.$q.notify({
            type: 'positive',
            position: 'top',
            message: 'Collection uploaded',
          })
        })
        .catch((e) => {
          this.$q.dialog({
            title: '<i class="fa fa-bomb"></i>&nbsp;Database Error',
            message: e.response.data.data,
            html: true,
            ok: {
              color: 'primary',
            },
          })
        })
    },

    uploadOk(e, f) {
      this.$store.dispatch('user/getSources')
      this.$notify.success({
        title: `Upload OK`,
        message: `${f.name} added.`,
      })
    },

    uploadError(e, x, y) {
      // XXX find out how we can access our JSON errorCode
      // to report exact error
      console.log('ERROR ON UPLOAD', e, typeof e)
      console.log('x: ', x)
      console.log('y: ', y)
      this.$notify.error({
        title: 'Error uploading file',
        message: '',
      })
    },
  },
}
</script>
